
<div class="entry">
  <h3>AcmeCorp</h3>
  <div class="subtitle">Россия, Москва</div>
  <p>Требуется грузчик з/п от 1 500 руб./час</p>
</div>
<div class="entry">
  <h3>AcmeCorp</h3>
  <div class="subtitle">Россия, Москва</div>
  <p>Требуется грузчик з/п от 1 500 руб./час</p>
</div>
<div class="entry">
  <h3>AcmeCorp</h3>
  <div class="subtitle">Россия, Москва</div>
  <p>Требуется грузчик з/п от 1 500 руб./час</p>
</div>
<div class="entry">
  <h3>AcmeCorp</h3>
  <div class="subtitle">Россия, Москва</div>
  <p>Требуется грузчик з/п от 1 500 руб./час</p>
</div>
<div class="entry">
  <h3>AcmeCorp</h3>
  <div class="subtitle">Россия, Москва</div>
  <p>Требуется грузчик з/п от 1 500 руб./час</p>
</div>
<div class="entry">
  <h3>AcmeCorp</h3>
  <div class="subtitle">Россия, Москва</div>
  <p>Требуется грузчик з/п от 1 500 руб./час</p>
</div>