extends layout

block main
  div(data-ref='#nav-applicant, #nav-connect')
  .frame
    .paper.pad.centered
      p.kicker Этот раздел находится в разработке.
      .enormous.pad
        i.icon-wrench
      p.subtle Приносим извинения за неудобства.





