extends layout

block main
  div(data-ref='#nav-applicant, #nav-index')
  .frame
    .paper
      img(src=cdn('/img/misc/lagrange.jpg')).left-float.margin
      .pad
        h2 Жозеф Луи Лагранж
        .subtitle 77 лет, женат, дети
      hr.no-margin.clear
      table.rows(width="100%")
        tr
          td.right-align Основная специальность
          td: em Математик
        tr
          td.right-align Дополнительная специальность
          td: em Инженер-механик
        tr
          td.right-align Стаж работы
          td: em > 25 лет
        tr
          td.right-align Зарплатные ожидания
          td: em 120 000 € / год
        tr
          td.right-align Образование
          td: em Высшее профессиональное

  .row.margin-top
    .span-6
      .frame
        .headline.primary.border-bottom
          i.icon-info-sign
          span Прошлые работодатели
        .paper
          table.rows(width="100%")
            tr
              td Regno di Sardegna
            tr
              td Académie des sciences

    .span-6
      .frame
        .headline.secondary.border-bottom
          i.icon-info-sign
          span Образовательные учреждения
        .paper
          table.rows(width="100%")
            tr
              td Regno di Sardegna
            tr
              td Académie des sciences

  .abstract
    p Основная анкета пользователя (она же резюме, если нет веских причин считать иначе).
    p Основные функции:
    ul
      li просмотр и редактирование своих сведений