extends ../../layout

block main
  .frame
    .paper.pad
      h1 Резюме
      p Lorsque j'avais six ans, j'ai vu, une fois, une magnifique image.

  .row.margin-top
    .span-6
      .frame
        .headline.tobi.border-bottom
          i.icon-info-sign
          span Информация
        .paper.pad
          p Lorsque j'avais six ans, j'ai vu, une fois, une magnifique image.
    .span-6
      .frame
        .headline.loki.border-bottom
          i.icon-ok-sign
          span Результаты
        .paper.pad
          p Lorsque j'avais six ans, j'ai vu, une fois, une magnifique image.
