extends ../../layout

block sidenav
  a#nav-index(href='/applicant/index.html')
    i.icon-user.smooth
    span Мое резюме
  a#nav-search(href='/applicant/search.html')
    i.icon-search.smooth
    span Поиск работы
  a#nav-invites(href='/applicant/invites.html')
    i.icon-inbox.smooth
    span Приглашения
  a#nav-connect(href='/applicant/connect.html')
    i.icon-comments.smooth
    span Связь