extends layout

block main
  div(data-ref='#nav-acmecorp, #nav-settings')
  .frame
    .paper
      .pad
        h2 AcmeCorp, Inc.
        .subtitle 305029 Российская Федерация, г. Курск, ул. Карла Маркса 61б
        hr
        p.
          Lorsque j'avais six ans, j'ai vu, une fois, une magnifique image
          dans un livre sur la Forêt Vièrge, qui s'appelait “Histoires Vécues”.