extends layout

block main
  div(data-ref='#nav-acmecorp, #nav-settings')
  .frame
    .paper
      img(src=cdn('/img/misc/acme2.jpg')).left-float.margin
      .pad
        h2 AcmeCorp, Inc.
        .subtitle 305029 Российская Федерация, г. Курск, ул. Карла Маркса 61б
        hr
        p.
          Lorsque j'avais six ans, j'ai vu, une fois, une magnifique image
          dans un livre sur la Forêt Vièrge, qui s'appelait “Histoires Vécues”.
      .clear

  .abstract
    p Публичная страница организации в profasia.
    p Необходимо заполнить страницу полезной информацией для повышения поисковой привлекательности.