extends ../../layout

block sidenav
  a#nav-staff(href='/employer/staff.html')
    i.icon-group.smooth
    span Сотрудники
  a#nav-search(href='/employer/search.html')
    i.icon-bullhorn.smooth
    span Вакансии
  a#nav-connect(href='/employer/connect.html')
    i.icon-comments.smooth
    span Связь
  a#nav-settings(href='/employer/settings.html')
    i.icon-cogs.smooth
    span Настройки

