extends ../layout

block main
  .abstract
    h1 Welcome to profasia prototype!
    p.
      Этот прототип представляет собой совокупность статических страниц для проработки основной структуры системы на макроуровне.

    p.kicker Все элементы являются субъектами для дальнейшей проработки.

    p.
      Для начала работы перейдите к <a href='/applicant/index.html'>анкете пользователя</a>
      или к <a href='/employer/index.html'>работодателю</a>.

    p Для просмотра других вариантов фона используйте Chrome и <a href='https://chrome.google.com/webstore/search/subtle%20patterns?hl=en-US' target='_blank'>Subtle Patterns Extension</a>.